In [1]:
my_list1 = [1, 2, 3, 4]

In [2]:
my_list1

[1, 2, 3, 4]

In [4]:
my_list1.count

In [5]:
my_list1.reverse

In [6]:
my_list1

[1, 2, 3, 4]

In [24]:
my_list2 = [3, 3, 3, 3]

In [13]:
my_list1

[4, 3, 2, 1]

In [18]:
my_list1.count(3)

1

In [25]:
my_list1 + my_list2

[4, 3, 2, 1, 3, 3, 3, 3]

In [26]:
my_list2

[3, 3, 3, 3]

In [27]:
my_list1[0] + my_list2[1]

7

In [28]:
a = my_list2.pop()
a
my_list2

[3, 3, 3]

In [29]:
a

3

In [30]:
my_list2.append(17)

In [31]:
my_list2

[3, 3, 3, 17]

In [32]:
my_list1

[4, 3, 2, 1]

In [33]:
my_list2 + my_list1[1]

TypeError: can only concatenate list (not "int") to list

In [34]:
my_list3 = [my_list1, my_list2, my_list1]

In [35]:
my_list3

[[4, 3, 2, 1], [3, 3, 3, 17], [4, 3, 2, 1]]

In [36]:
siedemnascie = my_list3[1][3]

In [37]:
siedemnascie

17